<div class="row top15 row-centered">
    <div class="col-sm-11 col-centered">
        <div class="row input-group input-group-lg">
            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-globe">
                            </span>
            </span>
            <input type="text" class="form-control" autocomplete source="availableCoverageIds" 
                    ng-model="coverageIdToDelete" 
                    placeholder="Input coverage Id or part of it" />

            <span class="input-group-btn">
                <button ng-disabled="!isCoverageIdValid"
                        ng-click="deleteCoverage()"                                    
                        type="button" class="btn btn-danger" title="Delete the selected coverage and its associated WMS layer if exists">
                    Delete Coverage
                </button>
            </span>
        </div>
    </div>
</div>
